@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i';
@import 'font-awesome';
@import "overall";
// @import "font-awesome-sprockets";
// @import "font-awesome";

.map {
  height: 550px;
  width: 100%;
  top: 61px;
}
