

//variables
$purple: #E3CDFF;


h1, h2, h3, h4, h5, h6, p, ul, li, div, nav, main, section, body {
  margin: 0;
  color: inherit;
  font-family: sans-serif;
  box-sizing: inherit;
  font-family: "Raleway";
  color: #333;
  text-decoration: inherit;
}
body {
  background-color: #fafafa;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 0 auto;
  border-left: 1px solid #ccc;
}
.header h1 {
  font-size: 30px;
  padding: 5px 10px;
}
.header h1 a {
  padding: 8px 0;
  display: block;
}
.header-nav ul {
  display: flex;
  padding: 0;
  list-style: none;
  border-right: 1px solid $purple;
}
.header-nav li {
  border-left: 1px solid $purple;
}
.header-nav li:hover {
  background-color: $purple;
  cursor: pointer;
  color: #333;
}
.header-nav a {
  padding: 20px 20px;
  display:block;
}
.header a {
  color: inherit;
  text-decoration: none;
}

.header-nav {
  float: right;
}

//Login / Sign Up
.modal-form {
  position: absolute;
  background-color: #fff;
  width: 40%;
  left: 30%;
  top: 25%;
  border-radius: 10px;
  padding: 10px 40px 40px;
  border: 1px solid #ccc;
}
.modal-form h4 {
  margin: 10px 0;
  text-align: center;
}
.modal-form input {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.modal-form input[type=submit] {
  width: 100px;
  float: right;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.modal-form input[type=submit]:hover {
  background-color: $purple;
}
.modal-form textarea {
  width: 100%;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100px;
  padding: 10px 20px;
}

.edit-form {
  width: 60%;
  left: 20%;
  top: 4%;
}
.edit-form input[type=submit] {
  width: 150px;
}

.edit-form h4 {
  margin: 0 !important;
}

//PROFILE PAGE
.main {
  width: 900px;
  margin: 100px auto;
}
.profile-info {
  margin: 0;
  position: relative;
  margin-top: 30px;
}

.profile-pic {
  width: 250px;
  border: 1px solid #ccc;
  height: 249px;
  padding: 0;
  border-top: none;
  overflow: hidden;
  border-radius: 70px;
}
.profile-pic img {
  width: 100%;
  height: 100%;
}
.profile-info h1 {
  margin: 70px 0 0 50px;
  display: block;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 40px;
}
.profile-info h4 {
  margin: 20px 0 0 50px;
  display: block;
  font-weight: 300;
  letter-spacing: 2px;
}
.edit-profile-link {
  background-color: #fff;
  padding: 10px 20px;
  position: absolute;
  top: 10px;
  right: 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.edit-profile-link a {
  color: #333;
  text-decoration: none;
}
.edit-profile-link:hover {
  background-color: $purple;
  cursor: pointer;
}
#edit-pro-form {
  display: none;
}

.image-feed {
  width: 900px;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  padding-top: 50px;
}
.image-feed::after {
  content: " ";
  clear: both;
  visibility: hidden;
}
.feed-item {
  width: 300px;
  margin: 0 auto;
  padding: 30px 0;
  float: left;
}

.feed-img-cont {
  width: 75%;
  margin: 0 auto;
}
.feed-item img {
  width: 100%;
  height: 100%;
}
.feed-item p {
  text-align: center;
  margin: 15px 20px 30px;
}
.bio-container {
  margin: 30px 50px;
  height: 85px;
}
p.bio {
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 1px;
}
input:focus, textarea:focus {
  outline: none;
  border: 2px solid $purple;
}

// FEED
.feed {
  width: 1200px;
  margin: 100px auto;
}
.feed::after {
  clear: both;
  content: "";
  visibility: hidden;
  display: block;
}
.news-feed-item:first-child {
  margin-top: 25px;
}
.news-feed-item {
  width: 600px;
  margin: 100px auto;
  padding: 50px 0;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 0 15px #ccc;
  position: relative;
}
.news-feed-item img {
  display: block;
  margin: 0 auto;
  width: 450px;
}
.news-feed-item p {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
.feed-item-prof {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.feed-item-prof a:hover {
  background-color: $purple;
  cursor: pointer;
  text-decoration: none;
}
.feed-item-prof img {
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #eee;
  margin: 0;
}
span.moment-ago {
  position: absolute;
  right: 18px;
  top: 30px;
  color: #333;
}
.feed-item-prof a {
  display: flex;
  float: left;
  width: 100%;
  padding: 10px 0 10px 15px;
}

.feed-item-prof h4 {
  float: left;
  display: inline;
  margin: 20px;
}
.follow-info {
  left: 50px;
  position: absolute;
  top: 20px;
  display: flex;
}
.follow-info span {
  background-color: #fff;
  padding: 10px;
  display: block;
  margin: 0 8px;
  border: 1px solid #ccc;
  border-radius: 7%;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
.follow-info span:hover {
  background-color: $purple
}
#followers-modal, #following-modal {
  display: none;
  padding: 0;
  list-style: none;
}
.modal-form li {
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
.modal-form li:last-child {
  border-bottom: none;
}
.modal-form li a {
  color: #333;
  padding: 10px 20px;
  width: 100%;
  display: block;
}
.modal-form li:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.modal-form li:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.modal-form li a:hover {
  background-color: $purple;
  text-decoration: none;
}

.follow-username {
  font-size: 12px;
  color: #444;
  padding-left: 5px;
}

.close-modal {
position: absolute;
cursor: pointer;
padding: 1px 5px;
right: 0;
top: 0;
text-align: center;
border-top-right-radius: 4px;
}
.close-modal:hover {
  background-color: #ccc;
  color: #fff;
}
.change-feeds {
  position: absolute;
  top: 0;
  right: 0;
}
.search-bar {
}
.search-bar input {
  padding: 10px 25px;
  width: 212px;
  border: none;
  border-left: 1px solid $purple;
  border-right: 1px solid $purple;
  height: 100%;
  line-height: 100%;
  font-size: 15px;
}
.search-results ul {
  position: absolute;
  list-style: none;
  padding: 0;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 0 20px #ccc;
}
.search-profile-pic {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  display: inline;
  margin-right: 5px;
}
.search-profile-pic img {
  width: 20px;
}
.search-results li {
  border-bottom: 1px solid $purple;
  overflow: hidden;
}
.search-results li:last-child {
  border-bottom: none;
}
.search-results li:first-child a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.search-results li:last-child a {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-results li a {
  color: #333;
  padding: 10px;
  display: block;
}
.search-results li a:hover {
  background-color: $purple;
}
.search-bar i {
  color: #ccc;
  position: relative;
  left: 23px;
  font-size: 17px;
  top: 0px;
}
.search-bar {
  position: relative;
}
.close-search {
  position: absolute;
  right: 7px;
  top: 20px;
  color: #888;
  cursor: pointer;
}
