

//variables
$purple: #E3CDFF;
$gray: #cccccc;

h1, h2, h3, h4, h5, h6, p, ul, li, div, nav, main, section, body {
  margin: 0;
  color: inherit;
  font-family: sans-serif;
  box-sizing: inherit;
  font-family: "Raleway";
  text-decoration: inherit;
}
body {
  background-color: #F6F0FF;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid $purple;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 0 auto;
  border-left: 1px solid $purple;
}
.header h1 {
  padding: 5px 10px;
}
.header h1 a {
  font-style: italic;
  font-weight: 200;
  font-size: 46px;
}
.header-nav {
  float: right;
  ul {
    display: flex;
    padding: 0;
    list-style: none;
    li:hover {
      background-color: $purple;
      cursor: pointer;
      color: #333;
    }
    a {
      padding: 15px;
      display:block;
      color: #888;
      position: relative;
      i {
        font-size: 28px;
      }
      i.fa-bell {
        font-size: 26px;
        margin-top:2px;
      }
      span.num-notifs {
        position: relative;
        top: 1px;
      }
    }
  }
}
.header a {
  color: inherit;
  text-decoration: none;
}

//Login / Sign Up
.modal-form {
  position: absolute;
  background-color: #fff;
  width: 40%;
  left: 30%;
  top: 25%;
  border-radius: 10px;
  padding: 10px 40px 40px;
  border: 1px solid $gray;
  z-index: 1;
}
.modal-form h4 {
  margin: 10px 0;
  text-align: center;
}
.modal-form input {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid $gray;
}
.modal-form input[type=submit] {
  width: 100px;
  float: right;
  background-color: #fff;
  border: 1px solid $gray;
  border-radius: 5px;
}
.modal-form input[type=submit]:hover {
  background-color: $purple;
}
.modal-form textarea {
  width: 100%;
  resize: none;
  border: 1px solid $gray;
  border-radius: 5px;
  height: 100px;
  padding: 10px 20px;
}

.edit-form {
  width: 60%;
  left: 20%;
  top: 4%;
}
.edit-form input[type=submit] {
  width: 150px;
}

.edit-form h4 {
  margin: 0 !important;
}

//PROFILE PAGE
.main {
  width: 900px;
  margin: 100px auto;
}
.profile-info {
  margin: 0;
  position: relative;
  margin-top: 30px;
}

.profile-pic {
  width: 250px;
  border: 1px solid $gray;
  height: 249px;
  padding: 0;
  border-top: none;
  overflow: hidden;
  border-radius: 70px;
}
.profile-pic img {
  width: 100%;
  height: 100%;
}
.profile-info h1 {
  margin: 70px 0 0 50px;
  display: block;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 40px;
}
.profile-info h4 {
  margin: 20px 0 0 50px;
  display: block;
  font-weight: 300;
  letter-spacing: 2px;
}
.edit-profile-link {
  background-color: #fff;
  position: absolute;
  top: 10px;
  right: 0;
  border-radius: 5px;
  border: 1px solid $gray;
}
.edit-profile-link a {
  padding: 10px 20px;
  display: block;
  color: #333;
  text-decoration: none;
}
.edit-profile-link:hover {
  background-color: $purple;
  cursor: pointer;
}
#edit-pro-form {
  display: none;
}

.image-feed {
  width: 900px;
  margin: 0 auto;
  border-top: 1px solid $gray;
  padding-top: 50px;
  margin-bottom: 50px;
}
.image-feed::after {
  content: " ";
  clear: both;
  display: block;
}
.feed-item {
  width: 300px;
  margin: 0 auto;
  padding: 5px 0;
  float: left;
}

.feed-img-cont {
  border-radius: 5px;
  overflow: hidden;
  margin: 0 5px;
}
.feed-item img {
  width: 100%;
  height: 100%;
}
.feed-item p {
  text-align: center;
  margin: 15px 20px 30px;
}
.bio-container {
  margin: 30px 50px;
  height: 85px;
}
p.bio {
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 1px;
}
input:focus, textarea:focus {
  outline: none;
  border: 2px solid $purple;
}

// FEED
.news-feed {
  width: 1200px;
  margin: 0 auto;
  display: none;
}
.news-feed::after {
  clear: both;
  content: "";
  visibility: hidden;
  display: block;
}
.news-feed-item:first-child {
  margin-top: 25px;
}
.news-feed-item {
  width: 600px;
  margin: 100px auto;
  padding: 81px 0;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid $gray;
  box-shadow: 0 0 15px $gray;
  position: relative;
}
.news-feed-item img {
  display: block;
  margin: 0 auto;
  width: 450px;
}
.news-feed-item p {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
.feed-item-prof {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid $gray;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
.feed-item-prof a:hover {
  background-color: $purple;
  cursor: pointer;
  text-decoration: none;
}
.feed-item-prof img {
  width: 60px;
  height: 60px;
  border: 1px solid $gray;
  border-radius: 50%;
  background-color: #eee;
  margin: 0;
}
span.moment-ago {
  position: absolute;
  right: 18px;
  top: 30px;
  color: #333;
}
.feed-item-prof a {
  display: flex;
  float: left;
  width: 100%;
  padding: 10px 0 10px 15px;
}

.feed-item-prof h4 {
  float: left;
  display: inline;
  margin: 20px;
}
.follow-info {
  left: 50px;
  position: absolute;
  top: 20px;
  display: flex;
}
.follow-info a {
  background-color: #fff;
  padding: 10px;
  display: block;
  margin: 0 8px;
  border: 1px solid $gray;
  border-radius: 7%;
  text-align: center;
  font-size: 12px;
  color: #333;
  cursor: pointer;
}
.follow-info a:hover {
  background-color: $purple;
  text-decoration: none;
}
#followers-modal, #following-modal {
  display: none;
  padding: 0;
  list-style: none;
}
.modal-form li {
  border-bottom: 1px solid $gray;
  overflow: hidden;
}
.modal-form li:last-child {
  border-bottom: none;
}
.modal-form li a {
  color: #333;
  padding: 10px 20px;
  width: 100%;
  display: block;
}
.modal-form li:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.modal-form li:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.modal-form li a:hover {
  background-color: $purple;
  text-decoration: none;
}

.follow-username {
  font-size: 12px;
  color: #444;
  padding-left: 5px;
}

.close-modal {
position: absolute;
cursor: pointer;
padding: 1px 5px;
right: 0;
top: 0;
text-align: center;
border-top-right-radius: 4px;
}
.close-modal:hover {
  background-color: $gray;
  color: #fff;
}
.change-feeds {
  position: fixed;
  top: 70px;
  left: 7px;
  z-index: 12;
  background-color: #fff;
  padding: 5px 12px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.change-feeds:hover {
  cursor: pointer;
  background-color: $purple;
}

.search-bar input {
  padding: 10px 25px;
  width: 212px;
  border: none;
  border-left: 1px solid $purple;
  border-right: 1px solid $purple;
  height: 100%;
  line-height: 100%;
  font-size: 15px;
}
.search-results ul {
  position: absolute;
  list-style: none;
  padding: 0;
  white-space: nowrap;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid $gray;
  box-shadow: 0 0 20px $gray;
}
.search-profile-pic {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  display: inline;
  margin-right: 5px;
}
.search-profile-pic img {
  width: 20px;
}
.search-results li {
  border-bottom: 1px solid $purple;
  overflow: hidden;
}
.search-results li:last-child {
  border-bottom: none;
}
.search-results li:first-child a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.search-results li:last-child a {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-results li a {
  color: #333;
  padding: 10px;
  display: block;
}
.search-results li a:hover {
  background-color: $purple;
}
.search-bar i {
  color: $gray;
  position: relative;
  left: 23px;
  font-size: 17px;
  top: 0px;
}
.search-bar {
  position: relative;
  left: 42px;
}
.close-search {
  position: absolute;
  right: 7px;
  top: 20px;
  color: #888;
  cursor: pointer;
}
.follow-user {
  position: absolute;
  top: 0;
  right: 0;
}
#map {
  display: block;
}

.loading-icon {
  position: relative;
  top: 200px;
  width: 100%;
  text-align: center;
}
.image-detail {
  position: relative;
  top: 100px;
  width: 500px;
  border: 1px solid $gray;
  border-radius: 15px;
  background-color: #fff;
  margin: 0 auto;
}
.image-detail-cont {
  width: auto;
  display: block;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 100px;
  border: 1px solid $gray;
}
img {
  width: 100%;
  height: 100%;
}
.image-content {
  margin: 0 50px;
  font-size: 20px;
}
.image-caption {
  margin-top: 8px;
  margin-bottom: 5px;
}
.edit-img-button {
  border: 1px solid $gray;
  border-radius: 10px;
  font-size: 12px;
  width: 90px;
  text-align: center;
  float: right;
}
.edit-img-button:hover {
  cursor: pointer;
  color: #eee;
}
.edit-img-button a {
  padding: 0px 10px;
  line-height: 26px;
  color: #333;
  display: block;
}
.follow-user {
  background-color: #fff;
  border: 1px solid $gray;
  border-radius: 10px;
}
.follow-user:hover {
  background-color: $purple;
}
.follow-user a {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #333;
}
#edit-image {
  display: none;
}

.comments{
  width: 100%;
}
.comments ul {
  padding: 0;
  list-style: none;
}

.comments li {
  padding: 10px;
  margin: 8px 0;
}
.comment-prof-cont {
  width: 60px;
  height: 60px;

}
.comment-prof-cont img {
  width: 100%;
  height: 100%;
}
a.author-name {
  color: $purple;
  font-size: 14px;
  margin-right: 10px;
}

textarea.add-comment {
  width: 100%;
  outline: none;
  border: 1px solid $gray;
  border-radius: 15px;
  padding: 10px;
  resize:none;
  font-size: 14px;
}

.like-heart {
  color: red
}
.like-heart:hover {
  color: red;
}
.unlike-heart {
  color: red;
}
.unlike-heart:hover {
  color: red;
}
.num-likes {
  margin-left: 15px;
  font-size: 16px;
  position: relative;
  top: -1px;
}
.add-comment input[type=submit] {
  margin: 10px 0;
  padding: 10px 20px;
  background: #fff;
  color: #333;
  border: 1px solid $gray;
  font-size: 14px;
  border-radius: 10px;
}
.add-comment input[type=submit]:hover {
  background-color: $purple;
}
.news-feed .image-detail {
  margin: 0 20px;
  .image-detail-cont {
    width: 400px;
  }
}

//cloudinary
.upload-form {
  width: 80%;
  left: 10%;
  top: 11%;
}
.upload-form {
  form {
    margin-top: 40px;
    textarea, input {
      width: 60%;
      display: block;
      margin: 20px auto;
    }
    input[type=submit] {
      width: 100px;
      float: left;
      margin-left: 25px;
    }
    #map-sm {
      border-radius: 20px;
      .gm-style {
        border-radius: 20px;
      }
    }
  }
}
.latNLng {
  h3 {
    font-size: 18px;
  }
}
.show-or-hide-cont {
  float: right;
  border: 1px solid $gray;
  position: relative;
  top: -1px;
  border-radius: 10px;
  cursor: pointer;
  a {
    color: #333;
    font-size: 13px;
    padding: 5px 18px;
    display: block;
    text-decoration: none
  }
  &:hover {
    background-color: $purple;
    a {
      text-decoration: none;
    }
  }
}

.login-links {
  display: flex;
  margin-top: 10px;
  a {
    background-color: #fff;
    border: 1px solid $gray;
    border-radius: 10px;
    padding: 10px;
    display: block;
    width: 100px;
    text-align: center;
    color: #333;
    margin-right: 10px;
    cursor: pointer;
  }
  a:hover {
    background-color: $purple;
    text-decoration: none;
  }
}

//feed item drastic testing
.feed {
  list-style: none;
  li.feed-item-cont {
    position: relative;
    top: 61px;
    float: left;
    margin: 0 20px;
    img {
      width: 100%;
      height: 100%;
    }
    .hovercover {
      display: none;

      position: absolute;
      cursor: pointer;
      top: 0;
      background: rgba(100, 100, 100, 0.5);
      color: #fff;
      width: 100%;
      height: 100%;
      .hovercover-content {
        position: absolute;
        font-size: 27px;
        width: 90%;
        margin: 0 5px;
        top: 60px;
      }
      .prof-info {
        width: 80%;
        margin: 0 20%;
      }
      span.hover-image {
        border-radius: 50%;
        overflow: hidden;
        display: block;
        width: 80px;
        float: left;
      }
      span.hover-username {
        margin: 17px 35px;
        display: inline-block;
      }
      p.hover-caption {
        text-align: center;
        margin-top: 40px;
      }
      .big-num-likes {
        text-align: center;
        display: block;
        i {
          font-size: 80px;
        }
        span.inner-heart {
          font-size: 37px;
          width: 100px;
          display: block;
          margin: 0 auto;
          margin-top: -70px;
        }
      }
      .big-num-likes:last-child {
        i {
          margin-top: 25px;
        }
      }
    }
    &:hover {
      .hovercover {
        display: block;
        text-decoration: none;
      }
    }
  }
}
.error-show {
  font-size: 14px;
  padding: 0;
  li {
    border: none;
    color: red;
    text-align: center;
  }
}
.edit-profile {
  .edit-form {
    width: 100%;
    left: 0;
  }
  input, textarea {
    width: 60%;
  }
  input[type=submit] {
    width: 150px;
    text-align: center;
    margin-right: 17px;
  }
  #upload-holder {
    width: 38%;
    float: right;
  }
}
.current-location {
  padding: 10px 20px;
  border: 1px solid $gray;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  color: #333;
  border-radius: 10px;
  cursor: pointer;
}
.current-location:hover {
  background-color: $purple;
  text-decoration: none;
}
.disabled {
  pointer-events: none;
  color: #888;
}

.splash {
  width: 60%;
  margin: 60px 20%;
  background: #fff;
  padding: 45px;
  border-radius: 50px;
  border: 1px solid $gray;
  h1 {
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  p {
    line-height: 2;
  }
  p.jackftilly {
    font-style: italic;
    font-size: 25px;
    margin: 20px 0;
    font-weight: 300
  }
  a {
    padding: 10px 20px;
    display: block;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 15px;
    margin: 0 auto;
    width: 320px;
    text-align: center;
    color: #333;
    cursor: pointer;
  }
  a:hover {
    background: $purple;
    text-decoration: none;
  }
}

#notif-dropdown {
  display: none;
  position: absolute;
  top: 71px;
  width: 400px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 20px #cccccc;
  padding: 20px 0;
  .close-modal {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 5px;
  }
  li {
    width: 100%;
    border: 1px solid #ccc;
    a.notification {
      display: inline-block;
      width: 100%;
      padding: 5px 20px;
      .notification-img {
        width: 60px;
        height: 60px;
        float: right;
      }
      span.notification-text {
        margin-top: 20px;
        display: inline-block;
      }
    }
  }
  li:hover {
    background-color: $gray;
  }
  li.unread {
    background-color: $purple;
  }
}
// mini image when google maps mouseover
.img-tooltip {
  width: 200px;
  .img-cont {
    overflow: hidden;
    border-radius: 10px;
    width: 200px;
    height: 200px;
  }
  span.tooltip-caption {
    display: block;
    font-size: 16px;
  }

}
